 <footer> 
    <div class="footer-content">
      <a href="{{ url_for('faq') }}">FAQ</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>
      <a href="{{ url_for('about') }}">About Us</a>
      <a href="{{ url_for('pricing') }}">Pricing</a>
    </div>
    <div class="footer-legal">
      <p>&copy; 2024 Meal Genie . All rights reserved.</p>
      <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
      <a href="{{ url_for('terms_of_service') }}">Terms of Service</a>
    </div>
    <div class="footer-social">
      <a href="https://instagram.com/mealgenie_official"><i class="fab fa-instagram"></i></a>
    </div>
    </div>
  </footer>