<nav class="navbar">
  <div class="navbar-container">
    <a href="{{ url_for('index') }}" class="navbar-brand">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="MealGenie Logo" class="navbar-logo-image">
      <span class="navbar-brand-text">Meal Genie</span>
    </a>
    <ul class="navbar-menu">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('menu') }}">Menu</a></li>
      <li><a href="{{ url_for('get_plan') }}">Get Your Plan</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a href="{{ url_for('faq') }}">FAQ</a></li>
      <li><a href="{{ url_for('blog') }}">Blog</a></li>
    </ul>
    <button id="hamburger-menu" title="Toggle Menu" aria-label="Toggle menu">
      <span class="hamburger-icon" aria-hidden="true">&#9776;</span>
    </button>
  </div>
</nav>
